/node_modules
/public/hot
/public/storage
/public/ui
/storage/*.key
/vendor
/node_modules
.env.backup
.phpunit.result.cache
docker-compose.override.ymn
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
