<!-- <div><button (click)="show = !show">Toggle</button></div>
<accordion class="mt-2 mb-2" [isAnimated]="true" *ngIf="show">
  <accordion-group>
    <div class="clearfix" accordion-heading>
      <div class="float-start">
        <a>{{to.label}}</a>
      </div>
      <button *ngIf="to.preview" type="button" class="btn btn-success btn-sm float-end me-3" (click)="preview($event, i)"><i class="bi bi-eye"></i>
        Preview
      </button>
    </div>
    <ng-container #fieldComponent></ng-container>
  </accordion-group>
</accordion> -->
<div class="card mt-2 mb-2">
  <div class="card-header">
    <div class="clearfix">
      <div class="float-start cursor-pointer" (click)="show = !show">
        <a>{{to.label}}</a>
      </div>
      <button *ngIf="to.preview" type="button" class="btn btn-success btn-sm float-end me-3" (click)="preview($event, i)"><i class="bi bi-eye"></i>
        Preview
      </button>
    </div>
  </div>
  <div class="card-body"  *ngIf="show">
    <ng-container #fieldComponent></ng-container>
  </div>
</div>
