<div class="pt-4 row sticky-top bg-white overflow-hidden pb-2 border-bottom" *ngIf="resourceInfo">
  <div class="row">
    <h2 class="col-9">{{resourceInfo.pluralLabel}}</h2>
    <div class="col-3 text-end">
      <app-filters [resourceName]="resourceName" class="me-2" (filtersChange)="filtersChange($event)"></app-filters>
      <a class="btn btn-success" [routerLink]="['create']"><i class="bi bi-plus-circle"></i>
        Create new</a></div>
  </div>
</div>
<ngx-datatable
  *ngIf="!loadingIndicator"
  class="material m-0 mb-4"
  [rows]="rows"
  [headerHeight]="'auto'"
  [footerHeight]="'auto'"
  [rowHeight]="'auto'"
  [columnMode]="ColumnMode.flex"
  [limit]="listResponse.per_page"
  [count]="listResponse.total"
  [offset]="listResponse.current_page - 1"
  (sort)="onSort($event)"
  (page)="onPaginate($event)"
  [externalSorting]="true"
  [externalPaging]="true"
  [loadingIndicator]="loadingIndicator"
>
  <ngx-datatable-column
    *ngFor="let column of columns"
    [name]="column.name"
    [path]="column.path"
    [prop]="column.prop"
    [draggable]="column.draggable"
    [resizeable]="column.resizeable"
    [sortable]="column.sortable"
    [flexGrow]="column.flexGrow"
  >
    <ng-template let-value="value" ngx-datatable-cell-template>
      <ng-container *ngIf="column?.translatable; then thenBlock else elseBlock"></ng-container>
      <ng-template #thenBlock>
        <div class="text-truncate pr-2" [title]="getTranslatedValue(value)">{{getTranslatedValue(value)}}</div>
      </ng-template>
      <ng-template #elseBlock>
        <div class="text-truncate pr-2" [title]="value">{{value}}</div>
      </ng-template>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [name]="'Actions'"
    [draggable]="false"
    [resizeable]="false"
    [sortable]="false"
    [flexGrow]="2"
  >
    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
      <div class="text-end">
        <div class="btn-group">
          <a class="btn btn-success btn-sm" [routerLink]="[row.id, 'edit']"><i class="bi bi-pencil"></i> Edit</a>
          <a *ngIf="config?.clonable" class="btn btn-success btn-sm" (click)="clone(row.id)"><i class="bi bi-clipboard-plus"></i> Clone</a>
          <a class="btn btn-danger btn-sm" (click)="remove(row.id)"><i class="bi bi-trash"></i> Remove</a>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
