<div class="pt-4 row sticky-top bg-white overflow-hidden border-bottom pb-2">
  <h2 class="col-8 mb-0">Translations</h2>
  <div class="col-4 text-end row g-3 m-0">
    <button class="btn btn-primary me-2 col mt-0" (click)="add()">
      Add Translation
    </button>
    <button class="btn btn-success me-2 col mt-0" (click)="save()">
      Save Translations
    </button>
  </div>
</div>
<div class="table-container w-100">
  <table class="table">
    <thead>
      <tr>
        <th>Actions</th>
        <th style="min-width: 200px">Key</th>
        <th style="min-width: 200px" *ngFor="let locale of locales">
          {{ locale.value }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let translation of translations">
        <td>
          <button
            type="button"
            class="btn btn-danger btn-sm text-nowrap"
            (click)="remove(translation)"
          >
            <i class="bi bi-trash"></i> Remove
          </button>
        </td>
        <td>
          <input
            class="form-control form-control-sm"
            type="text"
            [(ngModel)]="translation.key"
          />
        </td>
        <td *ngFor="let locale of locales">
          <input
            class="form-control form-control-sm"
            type="text"
            [(ngModel)]="translation.text[locale.key]"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
