<accordion class="mt-2" closeOthers="true" [isAnimated]="true">
  <div class="card">
    <h5 class="card-header">{{ to.label }}</h5>
    <div class="card-body" cdkDropList (cdkDropListDropped)="drop($event)">
      <accordion-group *ngFor="let field of field.fieldGroup; let i = index;" cdkDrag cdkDragLockAxis="y">
        <div class="clearfix" accordion-heading>
          <div class="float-start">
            <i class="bi bi-list me-2" style="cursor:move;" cdkDragHandle></i>
            <a>{{to.label + ' #' + (i + 1)}}</a>
          </div>
          <button type="button" class="btn btn-danger btn-sm float-end" (click)="remove(i)"><i class="bi bi-trash"></i>
            Remove
          </button>
          <button *ngIf="to.preview" type="button" class="btn btn-success btn-sm float-end me-3" (click)="preview($event, i)"><i class="bi bi-eye"></i>
            Preview
          </button>
        </div>
        <formly-field [field]="field"></formly-field>
      </accordion-group>
    </div>
  </div>
</accordion>
<div class="mt-2 mb-2">
  <button class="btn btn-primary" type="button" (click)="add()">{{ to.addText }}</button>
</div>
